/*@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');*/

.rur{
	font-weight:bold;
	color:white;
}
.rar{
	background-color:black;
	opacity: 100%;
  color:white;
}

.rar2{
	color: white;
  padding-left: 5px;
  padding-right: 5px;
}

.rar3{
  text-decoration: none;
  color: #d1d1d1;
}

.slider{
	height : 300px;
	margin : auto;
	position : relative;
	max-width : 90%;
	margin-bottom : 15px;
	
}
.slider .item img{
	width : 100%;
	height : 300px;
	border : none !important;	
}

.slider .prev , .slider .next{
	position : relative;
	top : 0;
	width : auto;
	margin : 10px;
	background-color : blue;
	
}

.cl0{
    width: auto;
    height: 549px;
    background: #FFB800;
}

.cl1{
    margin-top: 20px;
    margin-left: 20px;
    font-weight: bold;
    font-size: 35px;
    color: black;
}

.cl2{
    margin-top: 20px;
    margin-left: 20px;
    font-weight: bold;
    font-size: 14px;
    color: black;
}

.cl3{
    margin-top: 15px;
    margin-bottom: 15px;
    padding-right: 40px;
    background: #392bff;
}

.cl4{
    position: relative;
    top: 100px;
    left:50px;
}
.cl5{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 60px;
    padding-bottom: 2px;
    padding-top: 2px;
}

.cl6{
    position: relative;
    text-align: center;
    top: 100px;
    left: 12px;
    right: 12px;
}

.cl7{
    margin-top: 150px;
    margin-bottom: 150px;
}

.cl8{
    font-style: normal;
    font-weight: bold;
    font-size: 37px;
    line-height: 150%;x
    text-align: center;
    text-transform: uppercase;
}

.cl9{
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 150%;
}

.cl10{
	background: #05283A;
}

.cl11{
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 150%;
	color: #FFFFFF;
}

.cl12{
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	line-height: 150%;
	color: #FFFFFF;
}

.cl13{
	margin-top: 10px;
    margin-left: 10px;
	margin-right: 10px;
}

.cl14{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
}

.cl15{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 43px;
  text-transform: uppercase;

}

.cl16{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
}

.cl17{
  margin-left: 95px;
}

.cl18{
  margin-left: 25%;
  margin-right: 25%;
}

.cl19{
  color: white;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  padding-top: 400px;
  z-index: 9;

}

.cl20{
  padding-right: 0px;
  padding-bottom: 0px;
}

.cl21{
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9;
  margin-bottom: 10px;
}

.cl22{
  margin-top: 0px;
}

.cl23{
  position: fixed;
  left: 95%;
  top: 90%;
  z-index: 9;
}

.cl24{
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 10px;
  background-color: #DCDCDC;
  border-radius: 8px;
}

.cl25{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  color: #000000;
}

.cl26{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  text-align: center;

  color: #000000;
}

.cl27{
  width: 200px;
  height: 200px;
}

.slider .prev:hover , .slider .next:hover {
	background-color: rgb(225,225,225);
}


.rot:hover {
  animation: 1s ease-out 0s normal none infinite running rot;
}
@keyframes rot {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.scal:hover {
  animation: 1s ease-out 0s normal none infinite running scal;
}
@keyframes scal {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1.25);    
  }
  100% {
    transform: scaleY(1);
  }
}

.fly:hover {
  animation: 1s ease-out 0s normal none infinite running fly;
}

@keyframes fly {
  0% {
    transform: translateX(0px);
  }
  33%{
    transform: translateX(-10px)
  }
  67%{
    transform: translateX(10px);
  }
  100%{
    transform: translateX(0px);
  }
}

.rar3:hover{
  text-decoration: none;
  color: #d1d1d1;
  animation: 2s linear 0s alternate none running txt;
}

@keyframes txt {
  0% {
    color: #d1d1d1;
  }
  100%{
    color: #ffffff;
  }
}

.cl3:hover{
  animation: 1s linear 0s alternate none running bttn;
}

@keyframes bttn {
  0% {
    background: #392bff;
  }
  100%{
    background: #231c87;
  }
}

.cl27:hover{
  animation: 1s linear 0s alternate none running img;
}

@keyframes img {
  0% {
    width: 200px;
    height: 200px;
  }
  100%{
    width: 230px;
    height: 230px;
  }
}
